<header>

   <nav>
     <img id="nav-logo" src="img/kea_logo.png" alt="Kea Event Logo" />
        <span id="nav-title">{{pageTitle}}</span>
            <ul>
                <li>
                    <span><b>Student activities</b></span>
                 </li>
                 <li>
                   <a href="/">Home</a>
                 </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/Contact">Contact</a>
                </li>
            </ul>
    </nav>
<!--  
<h1>{{pageTitle}}</h1>
 <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
   <p><a href="/help.html">Help</a></p>

-->
</header>

