<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href= "css/stylesheet.css" rel="stylesheet" />

    <title>{{title}}</title>
 </head>
  <body>
    {{> header}}
    <br>
    <br>

   <h2 style="text-align:center">Page under Construction - 2018s</h2>
  
 
              <div  style=" background-color:black; text-align:center; width:100%; height:50px;">
                 <p style="color:blue; padding-top:20px;">Copyright@KEA- {{getCurrentYear}}</p>
              </div>
  </body>
</html>