<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>

        <link href= "css/stylesheet.css" rel="stylesheet" />
 </head>
   <body>
      {{> header}}  
   <h1>{{It message}}</h1>
    
     <div class="greeting-content">
                <p class="content">Find all the events that are happening at KEA</p>
            <div class="subscribe">       
                <a href="#">Subscribe to the Newsletter</a>
            </div>
     </div>

          <video>
            <!--  Add a Video Link-here -->
        </video>

        <div class="line-sep"></div>

         <section>
               <h2 class="centertext" style="margin-bottom: 20px; text-align: center ">Trending right now - join the newsletter for more updates!</h2>
        <article>

            <div class="img-1">
                <ul class="events">
                    <li>
                        <img src="img/map.jpg" alt="Map" />
                        <p>Event 1</p>
                    </li>
                    <li>
                        <img src="img/bridge.jpg" alt="Bridge" />
                        <p>Event 2</p>
                    </li>
                    <li>
                        <img src="img/graph.png" alt="Graph" />
                        <p>Event 3</p>
                    </li>
                </ul>
            </div>


            <div class="row">
                <ul class="unlist-row-2">
                    <li>
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                    </li>
                    <li>
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                    </li>
                    <li>
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                        <img src="img/img_placeholder.jpeg" alt="Placeholder" />
                    </li>
                </ul>
            </div>
        </article>
    </section>
    
    <!--  Break-point -->
           <div class="line-sep"></div>
              
           <div class="bottom-line">
                   <ul class="unlist-bottom">
                        <li class="list-1"><a class="kea-link" href="#">Go to KEA.DK</a></li>
                        <li class="list-1"><a  class="kea-link-2" href="#">Drop us a line!</a></li>
                        <li class="list-1"><a class="kea-link-3" href="#">Become a member!</a></li>
                   </ul>
         
                    <div class="more-pages"><a href="#">See more pages</a></div>
            </div>

          <div class="footer">
              <div class="content-footer">
                 <p class="footer-text">Copyright@KEA- {{getCurrentYear}}</p>
              </div>

          </div>


   </body>
</html>